{% extends "base.html" %}

{% block main %}
    <section class="content-wrap">
        <div class="container">
            <div class="row">
                <main class="col-md-8 main-content">
                    <article id=83 class="post tag-about-ghost tag-release">
                        <div class="post-head">
                            <h1 class="post-title">{{ article.title }}</h1>
                            <div class="post-meta">
                                <span class="author">作者：<a href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a></span> &bull;
                                <span class="category">分类：<a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a></span> &bull;
                                <time class="post-date" datetime="{{ article.locale_date }}" title="{{ article.locale_date }}">{{ article.locale_date }}</time>
                            </div>
                        </div>
                        <div class="post-content">
                            {{ article.content }}
                        </div>
                        <footer class="post-footer clearfix">
                            <div class="pull-left tag-list">
                                <span class="glyphicon glyphicon-folder-open"></span>
                                {% for tag in article.tags %}
                                    <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>,
                                {% endfor %}
                            </div>
                        </footer>
                    </article>
                    <div id="SOHUCS" sid="{{ article.metadata['slug'] }}"></div>
                    <script charset="utf-8" type="text/javascript" src="http://changyan.sohu.com/upload/changyan.js"></script>
                    <script type="text/javascript">
                        window.changyan.api.config({
                            appid: 'cysgQcAvk',
                            conf: 'prod_786e993afc94743d81d875c03c925c00'
                        });
                    </script>
                </main>
                {% include "sidebar.html" %}
            </div>
        </div>
    </section>
{% endblock %}
